body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ensure body takes up full viewport height */
}

.wrapper {
  flex: 1; /* make wrapper take up remaining vertical space */
}
.myDiv {
  font-size: 20px;
  text-align: left;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.Modal {
  width: "100%";
  height: "90%";
  align-items: "center";
  justify-content: "center";
}
.input-container {
  margin-bottom: 1rem; /* or any other value you prefer */
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 14px;
}

.dndflow .dndnode {
  height: 40px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
  padding: 2px;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
  padding: 20px;
  font-size: 20px;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
  padding: 2px;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

.react-flow__node-selectorNode {
  padding: 0 !important;
}

.react-flow__node-default.selectable.selected,
.react-flow__node-default.selectable.selected,
.react-flow__node-input.selectable:focus {
  box-shadow: none !important;
  border: 1.5px solid rgb(49, 130, 206) !important;
}
